@import url('reset.css');

/*
 style
*/

body { background: #e7e8e9 url('../images/bg_pattern.png') repeat; }

div#page { padding: 0; margin: 0; }

div.wrapper { padding: 0; margin: 0 auto; float: none; }

div#header { min-height: 100px; }

div#logo { width: 185px; float: left; margin-top: 80px; }

div#control { width: 540px; float: right; /*margin-top: 40px;*/ font: normal 16px Arial; }

div#login-info { width: 250px; height: 40px; float: right; padding: 30px 0; font: normal 11px Arial; text-align: left; }
div#login-info a { text-decoration: none; color: #588dca; }
div#login-info a:hover { border-bottom: 1px dashed #588dca; }

div#menu ul { float: right; }
div#menu ul li { float: left; margin-right: 25px; }
div#menu ul li a { text-decoration: none; color: #656769; }
div#menu ul li a:hover { border-bottom: 1px dashed #588dca; color: #588dca; }

div#content-container { clear: both; margin-bottom: 50px; padding: 25px 0 50px 0; background: #f5f5f6; }